<!doctype html>
<html>
<title>Station management</title>
<style>
body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 400px 200px 300px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #ffffff;
  color: #220322;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

</style>
<body>
<div class="wrapper">
  <div class="box a">A
<h1> List of available stations. </h1>
 <ul id="navigation">
    {% for station in all_stations %}
     {% if station['site_code']['active']==True %}
          <li><a href="train/{{ station['site_code']['id'] }}?save={{ save }}">{{ station['site_code']['id'] }}</a></li>
      {% else %}
          <li><span style="color:red">{{ station['site_code']['id']  }} </span></li>
    {% endif %}
   {% endfor %}
 </ul>

  </div>

    <div class="box b">
        List of active stations
      <select class="form-control" id="rating" name="active-station">
        {% for station in all_stations %}
     {% if station['site_code']['active'] %}
         <option value="{{ station['site_code']['id'] }}">{{ station['site_code']['id'] }}</option>
      {% endif %}
   {% endfor %}

    </select>
  </div>

</div>


</body>

</html>