<!doctype html>
<title>Station management</title>
<!--{% if station %}-->
  <!--<h1>Starting training and scoring for {{ station }}!</h1>-->
<!--{% else %}-->
  <!--<h1>Station is required later {{ station }}</h1>-->
<!--{% endif %}-->
<h1> List of available stations. </h1>
 <ul id="navigation">
    {% for station in all_stations %}
     {% if station['active']==True %}
          <li><a href="train/{{ station['site_code'] }}?save={{ save }}">{{ station['site_code'] }}</a></li>
      {% else %}
          <li><span style="color:red">{{ station['site_code'] }} </span></li>
    {% endif %}
   {% endfor %}
 </ul>

<select class="form-control" id="rating" name="active-station">
        {% for station in all_stations %}
     {% if station['active']==True %}
         <option value="{{ station['site_code'] }}">{{ station['site_code'] }}</option>
      {% endif %}
   {% endfor %}

</select>