<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ target_station }}</title>
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/pygal-tooltips.js"></script>
    </head>
<body>

 <h1>Training operation for station
 {{ target_station }} </h1>
 <div>
     Date from : <strong>{{ train_config['start_date'] }}</strong> to <strong> {{ train_config['end_date'] }}</strong> for
     <strong>{{ train_config['weather_variable'] }}</strong>
 </div>

The following nearby stations are used to fit the model.
    <ul id="navigation">
    {% for station in stationlist %}
        <li><a href="{{ station }}?save={{ save }}&startDate={{ train_config['start_date'] }}&
endDate={{ train_config['end_date'] }}">{{ station }}</a><strong>*</strong></li>
    {% endfor %}
    </ul>
<div id="result">
    Result display
<figure>
    <embed type="image/svg+xml" src="{{ line_chart|safe }}"></embed>
</figure>
</div>
<a href="/trained">Trained models</a> | <a href="/">Main</a>
</body>
</html>